{% extends 'base.html'%}

{%block title%}
    Lista Libri
{%endblock title%}

{%block content%}
    <h4>Libri:</h4>
    {% for libro in libri %}
    <p><strong>Titolo: </strong><a href ="/libreria/lista_libri/{{ libro.id }}">{{ libro.titolo }}</a></p>
    <p><strong>Genere: </strong>{% for Genere in libro.Genere.all %}{{ Genere }} {% endfor %}</p>
    <p><strong>Autore: </strong>{{ libro.Autore }}</p>
    <p><strong>ISBN: </strong>{{ libro.ISBN }}</p>
    <hr>
    {% endfor %}

{%endblock content%}
